body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    margin: 0;
}

.header {
    height: 50px;
}

.footer {
    height: 100px;
}

.header, .footer {
    text-align: center;
}

.sidebar {
    width: 200px;
}

.main {
    display: flex;
    height: calc(100vh - 150px);
}

.sidebar, .content {
    overflow: auto;
}